<div class="card">
    <div data-th-include="system/carInfo/carInfoAdd"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" /> <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download"> </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel" onclick="exportcarInfoExcel()">
							Excel (.xlsx) </a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv" onclick="exportcarInfoCsv()"> CSV
							(.csv) </a>
                        </ul>
                    </div>
                    <div class="dropdown actions__item" shiro:hasAnyPermissions="carInfo:add,carInfo:delete,carInfo:update">
                    </div>


                    <div class="dropdown actions__item" shiro:hasAnyPermissions="carInfo:add,carInfo:delete,carInfo:update">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#carInfo-add" shiro:hasPermission="carInfo:add">新增车辆信息</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updateCarInfo()" shiro:hasPermission="carInfo:update">修改车辆信息</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deleteCarInfo()" shiro:hasPermission="carInfo:delete">删除车辆信息</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="carInfo-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        车辆类型：
                                    </span>
                                    <select class="form-control" name="vehicleType">
                                        <option value="" selected>所有</option>
                                        <option value="0">油罐车</option>
                                        <option value="1">供液车</option>
                                        <option value="2">洒水车</option>
                                        <option value="3">冷藏车</option>
                                        <option value="4">吸污车</option>
                                        <option value="5">吸粪车</option>
                                        <option value="6">清洗吸污车</option>
                                        <option value="7">高空作业车</option>
                                        <option value="8">垃圾车</option>
                                        <option value="9">抑尘车</option>
                                        <option value="10">厢式车</option>
                                        <option value="11">平板车</option>
                                        <option value="12">随车吊</option>
                                        <option value="13">搅拌车</option>
                                        <option value="14">粉罐车</option>
                                        <option value="15">防爆车</option>
                                        <option value="16">清障车</option>
                                        <option value="17">气瓶运输车</option>
                                        <option value="18">广告宣传车</option>
                                        <option value="19">售货车</option>
                                        <option value="20">扫路车</option>
                                        <option value="21">洗扫车</option>
                                        <option value="22">吸尘车</option>
                                        <option value="23">路面养护车</option>
                                        <option value="24">护栏清洗车</option>
                                        <option value="25">泵车</option>
                                        <option value="26">救护车</option>
                                        <option value="27">污水净化车</option>
                                        <option value="28">污水处理车</option>
                                        <option value="29">消防车</option>
                                        <option value="30">房车</option>
                                        <option value="31">仓栅车</option>
                                        <option value="32">载货车</option>
                                        <option value="33">升降平台车</option>
                                        <option value="34">自卸车</option>
                                        <option value="35">饲料车</option>
                                        <option value="36">校车</option>
                                        <option value="37">舞台车</option>
                                        <option value="38">轿运车</option>
                                        <option value="39">半挂车</option>
                                        <option value="40">旅居车</option>
                                        <option value="41">联合疏通</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 底盘品牌： </span>
                                    <div class="form-group">
                                        <input type="text" name="chassisTrademark" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 发动机型号： </span>
                                    <div class="form-group">
                                        <input type="text" name="engineType" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        方量：
                                    </span>
                                    <div class="form-group">
                                        <input type="text" name="squareQuantity" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 备注： </span>
                                    <div class="form-group">
                                        <input type="text" name="remark" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 生产厂家： </span>
                                    <div class="form-group">
                                        <input type="text" name="manufacturer" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <table id="carInfoTable" style='table-layout:fixed; width: 1800px' data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/carInfo/carInfo.js}"></script>