<div class="modal fade" id="goods-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="goods-add-modal-title">新增商品</h3>
            </div>
            <div class="modal-body">
                <form id="goods-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 套餐周期：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="goodsCycle" class="form-control">
                                    <input type="text" hidden name="oldGoodsCycle" class="form-control">
                                    <input type="text" hidden name="goodsId" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 会员价格：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="vipMoney" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">-->
                        <!--<div class="col-sm-11">-->
                            <!--<div class="input-group">-->
                                <!--<span class="input-group-addon">-->
					               	 <!--商户会员价格：-->
					            <!--</span>-->
                                <!--<div class="form-group">-->
                                    <!--<input type="text" name="businessMoney" class="form-control">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 备注说明：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="remark" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="goods-add-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/pay/goodsAdd.js}"></script>