<div class="card">

    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" /> <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download"> </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel" onclick="exportorderExcel()">
							Excel (.xlsx) </a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv" onclick="exportorderCsv()"> CSV
							(.csv) </a>
                        </ul>
                    </div>
                    <div class="dropdown actions__item" shiro:hasAnyPermissions="order:add,order:delete,order:update">
                    </div>


                    <div class="dropdown actions__item" shiro:hasAnyPermissions="order:add,order:delete,order:update">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#order-add" shiro:hasPermission="order:add">新增订单信息</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updateorder()" shiro:hasPermission="order:update">修改订单信息</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deleteorder()" shiro:hasPermission="order:delete">删除订单信息</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="order-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        订单类型：
                                    </span>
                                    <select class="form-control" name="vehicleType">
                                        <option value="" selected>所有</option>
                                        <option value="0">1天</option>
                                        <option value="1">1个月</option>
                                        <option value="2">3个月</option>
                                        <option value="3">6个月</option>
                                        <option value="4">1年</option>
                                        <option value="5">3年</option>
                                        <option value="6">5年</option>


                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 备注： </span>
                                    <div class="form-group">
                                        <input type="text" name="chassisTrademark" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 价格： </span>
                                    <div class="form-group">
                                        <input type="text" name="engineType" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <table id="orderTable" style='table-layout:fixed; width: 1800px' data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/pay/order.js}"></script>